* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0px;
    font-family: sans-serif;
    background-image:  linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.985),
        rgba(0, 0, 0, 0)
    ), url(../images/colombian-rest.jpeg);
    background-size: cover;
}

#hero-image {
    background-image:  url(../images/Yepas-logo-2.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: right; 
    background-position: top;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#hero-image a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    width: 250px;
    border: 2px solid #ffffff;
    border-radius: 30px;
    padding: 10px;
    background-color: rgba(187, 156, 2, 0.832);
}


#hero-image-1 {
    /* height: 100vh; */
    background-repeat: no-repeat;
    /* background-position: right;  */
    background-position: top;
    text-align: left;
    width: 79%;
    margin: 0px auto;
    
}

#hero-image-1 h1 {
    text-align: left;
    
}

#homepage {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#homepage-1 {
    background-image:  linear-gradient(
        180deg,
        rgb(0, 0, 0),
        rgba(0, 0, 0, 0)
    ), url(../images/colombian-rest-washout.jpg);
}

#logo img {
    width: 130px;
}

/* #navbar {
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding: 12px;
} */

#navbar {
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background: linear-gradient(
        to bottom,
        rgb(0, 0, 0), 
        #c4a217,
        #c4a217,
        rgb(0, 0, 0) 
     );
    display: flex;
    justify-content: space-between;
    gap: 125px;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 200;
    justify-content: flex-end;
    
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 24px;
    font-weight: bold;
}

#navbar #logo {
    font-weight: bold;
    font-size: 3px;
    margin-right: auto;
    padding-top: 6px;
    padding-bottom: 10px;
}

#navbar a:hover {
    background: linear-gradient(
        to top, 
        rgb(180, 1, 1), 
        /* rgb(255, 170, 0),
        rgba(0, 0, 0, 0.4) */
    );
}

.dropdown-container {
    position: relative; /* Study */
}

#navbar .dropdown-menu a {
    color: rgb(255, 0, 0);
}

.dropdown-menu {
    right: 0px;
    position: absolute; /* Study */
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.25s,
        visibility 0.25s;
}

.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-container:hover .fa-solid.fa-chevron-up  {
    transform: rotate(180deg);
    color: red;
}

.dropdown-menu a {
    background-color: #ffcd04 ;
    width: 100%;
    min-width: 200px;
    box-shadow: 16px 16px 16px #00000048;
}

#menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #c4a11793;
    padding: 60px;
    /* border-radius: 27px; */
    border: 5px solid rgb(255, 255, 255);


}

#menu .item {
    width: 50%;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    background: rgba(255, 0, 0, 0.425);
    border-radius: 20px;
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    flex-direction: column;
    padding: 30px;
    align-items: center;
    align-content: center;
}

#menu .item img {
    width: 20%;
    
}

#menu p {
    align-items: center;
}

#menu  #item-6 {
    width: 30%;
}

#navbar .dropdown-menu a:hover {
    background:  #253c80a6;
}

p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h3, h4 {
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    align-items: center;
    color: white; 
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    padding: 50%px;
    color: #504354ee;
    max-width: 80px0;
    margin: 48px auto;
    
}

#container  img {
    min-width: 350px;
    padding: 10px;
    /* border: 5px solid #000000; */
    width: 15%;
    border-radius: 10px;
    background-color: #ecaae9;
    object-fit: cover;
    box-shadow: 16px 16px 16px #00000048;
}

.content {
    min-height: 10px;
    /* border: 3px solid black; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    align-items: center;
    color: rgb(159, 223, 236);
    background: linear-gradient(
        to bottom,
        #252525,
        #a474a2, 
        #252525
    );
}

#layout {
    width: 800px;
    margin: 48px auto;
    font-size: 34px;
}

.side-by-side {
    display: flex;
    align-items: center;
    margin: 48px 0px;
}

.side-by-side .image-container {
    flex: 0.5;
}

.side-by-side .text-container {
    flex: 1;
    padding: 36px;
}

.side-by-side .image-container img {
    width: 100%;
}

.side-by-side .text-container h3 {
    font-size: 38px;
}

#footer {
    background: linear-gradient(
        to bottom, 
        rgb(0, 0, 0), 
        #c4a217,
        #c4a217,
        rgb(0, 0, 0) 
    );
    color: rgb(0, 0, 0);
    padding: 12px;
}

#footer a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#footer-navbar {
    display: flex;
    justify-content: space-evenly;
    /* gap: 125px; */
    align-items: center;
}


@media screen and (max-width: 480px){
    body {
        background: rgb(255, 0, 0);
    }
    
    #navbar {
        background: linear-gradient(
            to bottom,
            rgb(0, 0, 0), 
            #c4a117fb,
            #c4a117,
            rgb(26, 26, 26) 
        );
        /* display: flex; */
        justify-content: center;
        flex-direction: column;
        gap: 1px;
        align-items: center;
    }

    .text-container {
        display: flex;
        flex-direction: column;
    }

    #footer {
        background: linear-gradient(
            to bottom, 
            rgba(0, 0, 0, 0.623), 
            #c4a11794,
            #c4a11795,
            rgba(0, 0, 0, 0.57) 
        );
        color: rgb(0, 0, 0);
        padding: 12px;
    }
    
    #footer a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }

    .dropdown-container {
        position: relative; /* Study */
    }
    
    #navbar .dropdown-menu a {
        color: rgb(255, 0, 0);
    }
    
    .dropdown-menu {
        right: 0px;
        position: absolute; /* Study */
        opacity: 0;
        visibility: hidden;
        transition:
            opacity 0.25s,
            visibility 0.25s;
    }
    
    .dropdown-container:last-child .dropdown-menu {
        right: 0px;
    }
    
    .dropdown-container:hover .dropdown-menu {
        opacity: 0;
        visibility: visible;
    }
    
    .dropdown-container:hover .fa-solid.fa-chevron-up  {
        transform: rotate(180deg);
        color: red;
    }
    
    .dropdown-menu a {
        background-color: #04ff5c ;
        width: 100%;
        min-width: 200px;
        box-shadow: 16px 16px 16px #00000048;
    }
}
