* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: san-serif;
}

#two-columns {
    display: flex;
    
}

.block {
    display: flex;
    align-items: flex-start;
    
}
.block-2 {
    display: flex;
    align-items: flex-start;
    
    
}
.block-2 img {
    width: 200px;

}

#sidebar-content {
    background-color: rgb(229, 228, 228);
    /* flex: 1; */
    width: 200px;
    /* order: 2; */
    padding: 24px;
    border-right: 2px solid #000000;
}

#sidebar-content h2 {
    border-bottom: 2px solid #000000;
    padding-bottom: 8px;

}

#sidebar-content ul {
    list-style-type: none;
    padding: 0px;
}

#sidebar-content ul a {
    color: #111111;
    text-decoration: none;
}

#sidebar-content ul li {
    padding: 4px 0px;
}

#main-content {
    /* background-color: lightgray; */
    flex: 1;
    /* order: 1; */
    padding: 48px;
}

#main-content h1 {
   border-bottom: 2px solid #000000;
}

#main-content h3 {
    border-bottom: 2px solid #000000;
 }

 #two-columns {
    display: flex;
    
}

.block {
    display: flex;
    align-items: flex-start;
    
}

#sidebar-content {
    background-color: rgb(229, 228, 228);
    /* flex: 1; */
    width: 200px;
    /* order: 2; */
    padding: 24px;
    border-right: 2px solid #000000;
}

#sidebar-content h2 {
    border-bottom: 2px solid #000000;
    padding-bottom: 8px;

}

#sidebar-content ul {
    list-style-type: none;
    padding: 0px;
}

#sidebar-content ul a {
    color: #111111;
    text-decoration: none;
}

#sidebar-content ul li {
    padding: 4px 0px;
}

#main-content {
    /* background-color: lightgray; */
    flex: 1;
    /* order: 1; */
    padding: 48px;
}

#main-content h1 {
   border-bottom: 2px solid #000000;
}

#main-content h3 {
    border-bottom: 2px solid #000000;
 }