@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Genos:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

h1 {
    font-family: "Orbitron", serif;
}

p {
    font-family: "Genos", serif;
}

#hero-1 {
    background-image: url("../images/hi-res/urban-hi-res-1ui7.jpg");
    height: 50vh;
    background-size: cover;
    color: white;
    padding: 35px;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#hero-1 h1 {
    font-size: 8vw;
    /* position: absolute; */
    top: 20%;
    padding: 5px;
    text-shadow: 2px 2px 7px black;
    margin: 10px;
}

#hero-1 h2 {
    font-size: 20px;
    border-bottom: 20%;
    padding: 1px;
    text-shadow: 2px 2px 7px black;
    margin: 1px;
}

h3 {
    font-size: 20px;
    position: absolute;
    border-bottom: 20%;
    padding: 40px;
    /* text-shadow: 2px 2px 7px black; */
}
.street-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 10px solid #000000;
    padding: 24px;
    /* background-color: aquamarine; */
    gap: 24px;
    
}

.street-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.single-column {
    width: 900px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 7px black;
    
}

.parallax-banner {
    height: 50vh;
    margin: 100px 0px;
    background-image: url("../images/gallery-work/urban-20vb1.jpg");
    background-size: cover;
    background-attachment: fixed;
    color
}

p {
    /* background-color: #cccccc65; */
    color: #ffffff;
    text-shadow: 2px 2px 7px black;
    padding: 30px;
    bottom: 20%;
}



