@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Genos:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: black;
    background-image: url("../images/hi-res/urban-hi-res-1ui7.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-family: "Orbitron", serif;
}

p {
    font-family: "Genos", serif;
}

 #hero-1 a {
    font: inherit;
    padding: 0.7em 3em;
    background-color: #b81818;
    border: 1px solid #ffffff;
    color: white;
    border-radius: 100vw;
    cursor: pointer;
    transition: background-color 250em;
}

#hero-1 a:hover,
#hero-1 a:focus-visible {
    background: rgb(80, 59, 178);
}

#hero-1 {
    /* background-image: url("../images/hi-res/urban-hi-res-1ui7.jpg"); */
    height: 54vh;
    background-size: cover;
    color: rgb(255, 255, 255);
    padding: 35px;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#hero-1 h1 {
    font-size: 8vw;
    /* position: absolute; */
    top: 20%;
    padding: 50px;
    text-shadow: 2px 2px 7px black;
    margin: 10px;
    /* background-color: #00000082; */
}

#hero-1 h2 {
    font-size: 20px;
    border-bottom: 20%;
    padding: 10px;
    text-shadow: 2px 2px 7px black;
    margin: 1px;
}

h3 {
    font-size: 30px;
    /* position: absolute; */
    border-bottom: 20%;
    padding: 1px;
    /* text-shadow: 2px 2px 7px black; */
}
.street-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 4px solid #902020;
    border-radius: 30px;
    padding: 24px;
    background-color: rgba(21, 21, 21, 0.53);
    gap: 24px;
    
    
}

.street-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid white;
}

.single-column {
    width: 900px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 7px black;
    
}

/* .parallax-banner {
    height: 50vh;
    margin: 100px 0px;
    background-image: url("../images/gallery-work/urban-20vb1.jpg");
    background-size: cover;
    background-attachment: fixed;
    color
} */

p {
    /* background-color: #cccccc65; */
    color: #ffffff;
    text-shadow: 2px 2px 7px black;
    padding: 30px;
    bottom: 20%;
}

.single-column {
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
}

#card-section {
    background-color: #6c444448;
    color: #bfefff;
    padding: 1px;
    border-radius: 15px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    /* border: 3px solid #ffffff; */
    
    
    
    
}

.card {
    flex: 50;
    border: 3px solid #902020;
    padding: 8px;
    text-align: center;
    margin: 36px;
    
    
    
}

.card h3 {
    font-size: 18px;
    margin: px;
    /* padding: 10px; */
}

.card p {
    font-size: 25px;
    margin: 0.5px 0px 0px;
    
}

.card a:hover {
    color: #b81818;
}

.card a {
    color: yellow;
    text-decoration: none;
}

.card a:active {
    color: rgb(7, 5, 64);
}