* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: san-serif;
}

#grid-layout {
    display: grid;
    /* grid-template-columns: 250px 1fr; */
    grid-template-columns: 1fr 450px 250px 1fr;
    grid-template-areas: ". content sidebar .";
    margin:  36px 0px;
    
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-columns: 1fr 3fr; */
    /* grid-template-columns: 1000fr 1000fr; */
}

#sidebar-content {
    /* background-color: lightblue; */
    grid-area: sidebar;
    padding: 18px;
}

#sidebar-content h2 {
    background-color:  #397776;
    color: rgb(255, 255, 255);
    padding: 12px;
    font-size: 18px;
    margin: 0px;
}

#sidebar-content ul {
    list-style-type: none;
    padding: 0px 12px;
    background-color: #ffffff;
    margin: 0px 0px 36px;
    border: 1px solid rgb(255, 255, 255);
}

#sidebar-content a {
    color: darkslategrey;
    text-decoration: none;
}

#sidebar-content li {
    padding: 8px 0px;
    border-bottom: 1px solid rgb(21, 229, 212);
}

/* pseudo-class */

#sidebar-content li:last-child {
    border-bottom: 0px;

}

#sidebar-content li:hover {
    background-color: rgb(101, 69, 9);
}

#sidebar-content li:hover a {
    color: rgb(255, 255, 255);
}
#main-content {
    background-color: lightgreen;
    grid-area: content;
    border: 1px solid #ffffff;
    background-image:linear-gradient(180deg, teal, red, tan);
    color: white;
    padding: 18px;
    
    
}

#main-content:hover {
    background-color: 
    ;
}
body {
    background-image:linear-gradient(180deg, tan, red, teal)
}





