* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#hero-1 {
    background-image: url("../images/mountains.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-1 h1 {
    font-size: 200px;
    position: absolute;
    align-items: center;
    color: aqua;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.447);
}

#hero-1 h2 {
    position: absolute;
    align-items: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.447);
    position: relative;
    left: 185px;
    top: 111px;
}

#hero-1 a {
    font-size: 13px;
    padding: 0.4em 0.4em;
    background-color: #00000098;
    border: 1px solid #ffffff;
    color: white;
    /* border-radius: 100vw; */
    cursor: pointer;
    transition: background-color 250em;
    text-decoration: none;
    position: relative;
    left: 280px;
    top: 100px;
}

#hero-1 a:hover,
#hero-1 a:focus-visible {
    background: rgba(0, 255, 255, 0.298);
}

#hero-2 {
    background-image: url("../images/featuredjungle.webp");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#hero-2 h1 {
    font-size: 200px;
    position: absolute;
    align-items: center;
    color: rgb(255, 251, 0);
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.447);
}

#hero-2 h2 {
    position: absolute;
    align-items: center;
    color: rgb(48, 255, 6);
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.447);
    position: relative;
    left: 170px;
    top: 120px;
}

#hero-2 a {
    font-size: 13px;
    padding: 0.4em 0.4em;
    background-color: #00000098;
    border: 1px solid #ffffff;
    color: white;
    /* border-radius: 100vw; */
    cursor: pointer;
    transition: background-color 250em;
    text-decoration: none;
    position: relative;
    left: 280px;
    top: 85px;
}

#hero-2 a:hover,
#hero-2 a:focus-visible {
    background: rgba(48, 255, 6, 0.283);
}

#hero-3 {
    background-image: url("../images/ocean.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#hero-3 h1 {
    font-size: 200px;
    position: absolute;
    align-items: center;
    color: rgb(213, 2, 2);
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.447);
}

#hero-3 h2 {
    font-size: 25px;
    position: absolute;
    align-items: center;
    color: rgb(255, 255, 0);
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.447);
    position: relative;
    left: 160px;
    top: 120px;
}

#hero-3 a {
    font-size: 13px;
    padding: 0.4em 0.4em;
    background-color: #00000098;
    border: 1px solid #ffffff;
    color: white;
    /* border-radius: 100vw; */
    cursor: pointer;
    transition: background-color 250em;
    text-decoration: none;
    position: relative;
    left: 245px;
    top: 110px;
}

#hero-3 a:hover,
#hero-3 a:focus-visible {
    background: rgba(81, 59, 178, 0.277);
}
    
    


