* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#hero-1 {
    background-image: url("../images/lonely-ocean.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: top;
    position: relative;
    margin-bottom: 100px;
}

#hero-1 h1 {
    font-size: 200px;
    position: absolute;
    left: 20%;
}

#hero-1 a {
    font-size: 15px;
    position: absolute;
    left: 20%;
}