* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    height: 100vh;
    background: #8c6291;
    /* background: linear-gradient(to top, #8c6291, #ffb3c6); */
    background-size: cover;
    /* background-position: center;
    background-position: center right; */
    /* background-position: left;
    background-position: top; 
    background-position: center center; 
    border-style: solid; */
}                         

#homepage {
    background-image: url(../images/adoptmeplz_logo_eye.png);
    background-size: 29%;
    background-repeat: no-repeat;
    background-position: center center; 
    /* background-image: url(../images/adoptmeplz_logo_eye.png); */
}        

#navbar {
    background: linear-gradient(
        to bottom,
        #8c6291, 
        #372d2d
    );
    display: flex;
    justify-content: center;
    gap: 125px;
    align-items: center;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: rgb(159, 223, 236);
    padding: 24px;
    display: inline-block; 
    /* background-size: 90%;
    /* background-repeat: no-repeat; */
    /* background-position: center center; */
    /* background-image: url(../images/AdoptMePlz.png); */
}

#navbar #logo {
    font-weight: bold;
    font-size: 33px;
    margin-right: auto;
    padding-top: 11px;
    padding-bottom: 17px;
}

#navbar a:hover {
    background: linear-gradient(
        to top, 
        #5d4161, 
        #483838
    );
}

.dropdown-container {
    position: relative; /* Study */
}

.dropdown-menu {
    right: 0px;
    position: absolute; /* Study */
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.25s,
        visibility 0.25s;
}

.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-container:hover .fa-solid.fa-chevron-up  {
    transform: rotate(180deg);
}

.dropdown-menu a {
    background-color:  #392538eb;
    width: 100%;
    min-width: 200px;
    box-shadow: 16px 16px 16px #00000048;
}

#navbar .dropdown-menu a:hover {
    background: #504354ee;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    /* text-align: center; */
    padding: 100px;
    color: #ecaae9;
    /* text-shadow: 12px #000000; */
}

#container  img {
    padding: 10px;
    border: 5px solid #000000;
    width: 15%;
    border-radius: 10px;
    background-color: #ecaae9;
    object-fit: cover;
    box-shadow: 16px 16px 16px #00000048;
}

.content {
    min-height: 50px;
    /* border: 3px solid black; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    align-items: center;
    color: rgb(159, 223, 236);
    background: linear-gradient(
        to bottom,
        #252525,
        #a474a2, 
        #252525
    );
}

@media screen and (max-width: 480px){
    body {
        background: red;
    }

    
}

